# LAND LEASE PRICE RECOMMENDER

### Import dependencies

In [219]:
#import libraries
import pandas as pd 
import numpy as np
import random
import math
#import source data
url_1 = 'https://raw.githubusercontent.com/PhilipHarvey20/Land-Lease-Price-Generator/master/acreage_price_by_state.csv'

### Definition of Fields

In [220]:
#  BASE_STATE_PRC_HUNTING: avg price per acre by state
#  TOTAL_ACREAGE_PRICE: log(acreage) * BASE_STATE_PRC_HUNTING

### Create df

In [221]:
df = pd.read_csv(url_1)
# rename column
df.rename(columns = {'STATE_PRC_PER_ACRE':'BASE_STATE_PRC_HUNTING'},inplace = True)
# Randomly populate activities, acreage
activities = ['HUNTING','FISHING','CAMPING','HIKING','METAL DETECTING','FARMING','SHED ANTLERS','ARTIFACT HUNTING']
df['ACREAGE'] = np.random.randint(1, 2000, df.shape[0])
df['ACTIVITY_TYPE'] = np.random.choice(list(activities), len(df))
# Calculate Total_Acreage_Price (log(acreage) * (base_state_price)
df['TOTAL_ACREAGE_PRICE'] = np.nan
df['LOG_BASE_STATE_PRC_HUNTING'] = np.log2(df.BASE_STATE_PRC_HUNTING)
df.loc[df['ACTIVITY_TYPE']=='HUNTING', ['TOTAL_ACREAGE_PRICE']] = df['LOG_BASE_STATE_PRC_HUNTING'] * df['ACREAGE']
df = df[['ACTIVITY_TYPE','STATE','BASE_STATE_PRC_HUNTING','ACREAGE','TOTAL_ACREAGE_PRICE']]

In [222]:
df[df['ACTIVITY_TYPE']=='HUNTING']

,ACTIVITY_TYPE,STATE,BASE_STATE_PRC_HUNTING,ACREAGE,TOTAL_ACREAGE_PRICE
2,HUNTING,Georgia,15.0,200,781.378119
5,HUNTING,Iowa,35.0,718,3682.825206
9,HUNTING,Maryland,17.0,705,2881.661303
16,HUNTING,North Carolina,12.0,1198,4294.785076
19,HUNTING,Pennsylvania,16.0,1803,7212.000000
28,HUNTING,California,10.0,1085,3604.291983

In [223]:
df

,ACTIVITY_TYPE,STATE,BASE_STATE_PRC_HUNTING,ACREAGE,TOTAL_ACREAGE_PRICE
0,ARTIFACT HUNTING,Alabama,10.0,786,NaN
1,FARMING,Arkansas,11.0,1389,NaN
2,HUNTING,Georgia,15.0,200,781.378119
3,CAMPING,Illinois,25.0,452,NaN
4,FARMING,Indiana,19.0,223,NaN
5,HUNTING,Iowa,35.0,718,3682.825206
6,METAL DETECTING,Kansas,9.0,1479,NaN
7,CAMPING,Kentucky,14.0,1993,NaN
8,ARTIFACT HUNTING,Louisiana,9.0,287,NaN
9,HUNTING,Maryland,17.0,705,2881.661303
10,HIKING,Michigan,21.0,1723,NaN
11,FARMING,Minnesota,20.0,777,NaN
12,HIKING,Mississippi,10.0,1941,NaN
13,CAMPING,Missouri,25.0,1124,NaN
14,METAL DETECTING,Nebraska,5.0,342,NaN
15,FISHING,New York,19.0,451,NaN
16,HUNTING,North Carolina,12.0,1198,4294.785076
17,ARTIFACT HUNTING,Ohio,28.5,1884,NaN
18,SHED ANTLERS,Oklahoma,13.0,1704,NaN
19,HUNTING,Pennsylvania,16.0,1803,7212.000000
20,HIKING,South Carolina,15.0,1724,NaN
21,HIKING,South Dakota,5.0,28,NaN
22,CAMPING,Tennessee,8.5,1056,NaN
23,SHED ANTLERS,Virginia,16.0,662,NaN
24,FARMING,West Virginia,11.0,1595,NaN
25,CAMPING,Wisconsin,24.0,235,NaN
26,FARMING,Alaska,10.0,265,NaN
27,HIKING,Arizona,10.0,1606,NaN
28,HUNTING,California,10.0,1085,3604.291983
29,FISHING,Colorado,10.0,193,NaN
30,FISHING,Connecticut,10.0,228,NaN
31,SHED ANTLERS,Delaware,10.0,1698,NaN
32,METAL DETECTING,Florida,10.0,1091,NaN
33,FISHING,Hawaii,10.0,745,NaN
34,ARTIFACT HUNTING,Idaho,10.0,386,NaN
35,CAMPING,Maine,10.0,374,NaN
36,METAL DETECTING,Massachusetts,10.0,959,NaN
37,FISHING,Montana,10.0,1728,NaN
38,FISHING,Nevada,10.0,954,NaN
39,FISHING,New Hampshire,10.0,1560,NaN
40,FARMING,New Jersey,10.0,950,NaN
41,CAMPING,New Mexico,10.0,1265,NaN
42,SHED ANTLERS,North Dakota,10.0,1859,NaN
43,FISHING,Oregon,10.0,908,NaN
44,SHED ANTLERS,Rhode Island,10.0,1280,NaN
45,HIKING,Texas,10.0,1564,NaN
46,HIKING,Utah,10.0,429,NaN
47,HIKING,Vermont,10.0,1990,NaN
48,SHED ANTLERS,Washington,10.0,1821,NaN
49,CAMPING,Wyoming,10.0,1578,NaN